.navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 14px 4%;
  transition: 0.5s;
  gap: 3rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-img {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.logo > ul {
  flex: 1;
  list-style: none;
  text-align: center;
}

ul li {
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
}
.navlinks {
  display: flex;
  gap: 3rem;
  align-items: flex-end;
  margin-right: 4rem;
  font-weight: 600;
  font-size: 0.9rem;
  padding-bottom: 1%;
}

.learn-container {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.arrow {
  font-size: 1.3rem !important;
  fill: #c9ccf1;
  transform: rotate(180deg);
}
.mega-menu {
  position: absolute;
  width: 100%;
  background: #fff;
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  left: 0;
}
.learn-container:hover .arrow {
  fill: #393fc3;
  transition: transform 0.1s ease-in-out;
  transform: rotate(360deg);
}
.learn-container:hover .mega-menu {
  visibility: visible;
  opacity: 1;
}
.megamenuitems {
  color: #000;
  display: flex;
  gap: 10rem;
}

.club-courses {
  font-weight: 600;
  background: #f7f7f7;
  width: 25rem;
  padding-top: 4rem;
  padding-left: 3rem;
}
.cl-title {
  background: #fff;
  display: flex;
  margin: 2% 0 2% 2%;
  width: 100%;
  padding: 4%;
  border-left: 2px solid #df4271;
  border-top-left-radius: 0.8rem;
  border-bottom-left-radius: 0.8rem;
}
.play-ico-container {
  background: #fae3ea;
  height: fit-content;
  width: fit-content;
  margin-right: 5%;
  padding: 2%;
  border-radius: 20%;
}
.play-ico {
  font-size: 1.5rem;
  align-items: center;
  margin: auto;
  color: #df4271;
}
.cl-title h2 {
  font-size: 1rem;
  margin-bottom: 0.8rem;
}
.cl-title p {
  color: #717171;
  font-size: 0.8rem;
  font-weight: 400;
  width: 11rem;
}
.ccategories-container {
  margin-top: 5rem;
  padding-bottom: 3rem;
  width: 20rem;
}
.ccategories-container h3 {
  color: #717171;
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
}
.ccategories-container li {
  padding: 3% 3%;
  font-size: 0.9rem;
}
.ccategories-container li:hover {
  font-size: 0.9rem;
  background: #c9ccf1;
  color: #007aff;
  border-radius: 0.5rem;
}
.tcourses-container {
  margin-top: 5rem;
  padding-bottom: 3rem;
  width: 30rem;
}
.tcourses-container h3 {
  color: #717171;
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
}
.tcourses-container li {
  padding: 2% 3%;
  font-size: 0.9rem;
}
.tcourses-container li:hover {
  font-size: 0.9rem;
  background: #c9ccf1;
  color: #007aff;
  border-radius: 0.5rem;
}
.course-list-div {
  height: 4rem;
}
.tcourse-list-div {
  border-left: 1px solid grey;
  padding-left: 2rem;
}
.course-list {
  display: flex;
  flex-direction: column;
}

.tcourse-list {
  display: flex;
  flex-direction: column;
}
.vac-btn {
  background: #fff;
  color: #3e48ce;
  border-radius: 0.5rem;
  font-weight: 600;
  border: 1px solid #3e48ce;
  text-align: center;
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 3% 0%;
  width: 80%;
}
.vac-btn:hover {
  background: #3e48ce;
  color: #fff;
  transition: 0.2s;
}

.toggle-icon {
  width: 50px;
  cursor: pointer;
}

.search-box {
  display: flex;
  height: 2.39rem;
  width: 250px;
  align-items: center;
  background: #f5f5f5;
  border: 1px solid;
  border-color: #d4d4d4;
  padding: 8px 14px;
  border-radius: 0.5rem;
}

.search-box input {
  flex: 1;
  padding: 6px;
  background: transparent;
  border: 0;
  outline: 0;
  color: #000;
  font-size: 13px;
  max-width: 300px;
}

.search-box img {
  height: 17px;
  width: 17px;
  cursor: pointer;
}

.btns {
  padding: 10% 10%;
  width: 6rem;
  cursor: pointer;
}
.login {
  background: #fff;
  color: #3e48ce;
  border-radius: 0.5rem;
  font-weight: 600;
  border: 1px solid #3e48ce;
}
.login:hover {
  background: #3e48ce;
  color: #fff;
  transition: 0.2s;
}
.sign-up {
  background: #3e48ce;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-weight: 600;
}

.search-box-div {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  color: #000;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 75%;
  margin-top: 1.2rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  max-height: 70vh;
  overflow-y: scroll;
  padding: 3%;
}
.search-results::-webkit-scrollbar {
  width: 9px;
  height: 8px;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
}
.search-results::-webkit-scrollbar-thumb {
  background-color: #c8c8c8;
  border-radius: 8px;
}
.search-results h3 {
  font-size: 0.9rem;
  font-weight: 600;
  color: #717171;
}
.categories {
  border: 1px solid #717171;
  width: fit-content;
  padding: 2% 8%;
  border-radius: 50px;
  margin: 3% 0;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}
.categories:hover {
  background: #c9ccf1;
  border: 1px solid #c9ccf1;
}
.search-data {
  width: fit-content;
  margin: 3% 0;
  padding: 2%;
  font-weight: 500;
  border-bottom: 1px solid #717171;
  border-radius: 0.3rem;
  line-height: 1.45678;
  padding-bottom: 3%;
  cursor: pointer;
}
.search-data:hover {
  background: #c9ccf1;
  border-bottom: none;
}
.lcm-container {
  margin-top: 1.5rem;
}

.new-pro {
  color: #e5618a;
}

.dark .navbar {
  background: #000;
  color: #fff;
}
.dark .arrow {
  font-size: 1.2rem;
  fill: #717171;
  transform: rotate(180deg);
}
.dark .learn-container:hover .arrow {
  fill: #fff;
  transition: transform 0.2s ease-in-out;
  transform: rotate(360deg);
}
.dark .search-box {
  background: #2f2f2f;
}

.dark .search-box input {
  color: #fff;
}

.dark .login {
  background: #000;
  color: white;
  border-radius: 0.5rem;
  font-weight: 600;
  border: 1px solid white;
}
.dark .login:hover {
  background: white;
  color: #000;
  transition: 0.2s;
}
.mobile-navbar-btns {
  display: none;
  color: #000;
  .close-outline {
    display: none;
  }
}
.mobile-navbar-btns[name="close-outline"] {
  display: none;
}
@media screen and (max-width: 998px) {
  .mobile-navbar-btns {
    display: flex;
    /* z-index: 999; */
    background: #fff;
    border: 1px solid black;
    border-radius: 50%;
    .mobile-nav-icon {
      font-size: 3rem;
      padding: 0.8rem;
      border-radius: 50%;
    }
  }
  .navlinks {
    display: none;
  }
  .btns {
    display: none;
  }
}
/* .sidebar{
  transform: translateX(-100%);
}
.temp{
  z-index: 1;
  height: 100vh;
  width: 80vw;
  background: grey;
  position: absolute;

} */
.sidebar {
  position: fixed;
  top: 0;
  right: -25rem;
  width: 20rem;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  transition: right 0.3s ease;
}

.sidebar.show {
  right: 0;
}

.temp {
  padding: 20px;
}
.close-btn {
  position: absolute;
  top: 15px;
  left: -38px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 50%;
  background:#fff;
  cursor: pointer;
  font-size: 2rem;
  padding: 0.2rem;
}
.sidebar-btns-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btns1 {
  padding: 8% 10%;
  width: 8.2rem;
  cursor: pointer;
  border-radius: 0.4rem;
}
.sidebar-links-container{
  display: flex;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
}
.sidebar-icons-container{
  display: flex;
  align-items: center;
  margin: 4%;
}
.sidebar-icons{
  font-size: 1.5rem;
}
.sidebar-links-title{
  font-weight: 600;
  margin-bottom: 3%;
}
.sidebar-links-details{
  color: #717171;
  font-size: 0.9rem;
}
.sidebar-borderbtm{
  border-bottom: 1px solid #717171;
}
.end-section-title{
  display: flex;
  align-items: center;

}
.sidebar-second-section{
  background: #fbfbfe;
  padding-top: 0.3rem;
}